@source "../../../packages/ui";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0%, 100%;
  --foreground: 0, 0%, 7%;
  --card: 45 18% 96%;
  --card-foreground: 240 10% 3.9%;
  --popover: 45 18% 96%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 40, 11%, 89%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 40, 11%, 89%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 40, 10%, 94%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --muted-foreground: 0, 0%, 38%;
  --border: 45, 5%, 85%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

.dark {
  --background: 0, 0%, 7%;
  --foreground: 0 0% 98%;
  --card: 0, 0%, 7%;
  --card-foreground: 0 0% 98%;
  --popover: 0, 0%, 7%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 0, 0%, 11%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0, 0%, 11%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 0, 0%, 11%;
  --accent-foreground: 0 0% 98%;
  --destructive: 359, 100%, 61%;
  --destructive-foreground: 0, 0%, 100%;
  --muted-foreground: 0, 0%, 38%;
  --border: 0, 0%, 17%;
  --input: 0, 0%, 11%;
  --ring: 240 4.9% 83.9%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-sans), system-ui, sans-serif;
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialog-content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.97);
  }
}

.loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* Date picker */
.rdp-tbody .rdp-button {
  border-radius: 100%;
}

.aria-selected\:text-accent-foreground[aria-selected="true"] {
  border-radius: 0px;
}


html,
body {
  height: 100%;
}

*:focus {
  outline: none;
}

.skeleton-box {
  background-color: hsl(var(--border));
  color: hsl(var(--border)) !important;
  user-select: none !important;
  cursor: default !important;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-color: transparent !important;
}

.skeleton-circle {
  background-color: hsl(var(--border));
  border-radius: 1000px !important;
  color: hsl(var(--border)) !important;
  user-select: none !important;
  cursor: default !important;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-color: transparent !important;
}

.skeleton-circle > *,
.skeleton-box > *,
.skeleton-line > * {
  opacity: 0 !important;
}

.pin-field-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  margin: 4rem 0;
}

.pin-field {
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--accent));
  border-right: none;
  font-size: 2rem;
  height: 4rem;
  outline: none;
  text-align: center;
  transition-duration: 250ms;
  transition-property: color, border, box-shadow, transform;
  width: 4rem;
}

.pin-field:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: 1px solid hsl(var(--border));
}

.pin-field:focus {
  box-shadow: "0 0 0.25rem rgba(white, 0.5)";
  opacity: 0.9;
  outline: none;
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
}

.pin-field:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}

.pin-field[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}